.git
.gitignore
.nextflow
.nextflow*
**/.nextflow
**/.nextflow*
work
work/**
**/work
**/work/**
site
site/**
**/site
**/site/**
results
results/**
**/results
**/results/**
*.log
*.trace
*.timeline.html
*.report.html
*.dag.html
__pycache__
**/__pycache__
**/__pycache__/**
*.pyc
*.pyo
*.bam
*.bai
*.cram
*.crai
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.pod5
*.tar.gz
*.zip
